<div class="background-image">
  <form (ngSubmit)="searchFlights()" class="search-bar">
    <!-- Departure Airport Input Group -->
    <div class="input-group" appOutsideClick (outsideClick)="closeSuggestions()">
      <input
        type="text"
        placeholder="From"
        [formControl]="depControl" 
        id="departure-input"
        (focus)="filterDepAirports(depControl.value)" 
        (input)="filterDepAirports(depControl.value)" 
        required
      />
      <ul *ngIf="filteredDepAirports.length > 0" class="suggestions">
        <li
          *ngFor="let airport of filteredDepAirports"
          (click)="selectAirport(airport, 'departure')"
          class="suggestion-item"
        >
          <strong class="iata-code">{{ airport.iata }}</strong> - {{ airport.name }} <br />
          <span class="airport-info">{{ airport.city }}, {{ airport.country }}</span>
        </li>
      </ul>
    </div>

    <!-- Arrival Airport Input Group -->
    <div class="input-group">
      <input
        type="text"
        placeholder="To"
        id="arrival-input"
        [formControl]="arrControl"  
        (focus)="filterArrAirports(arrControl.value)" 
        (input)="filterArrAirports(arrControl.value)" 
        required
      />
      <ul *ngIf="filteredArrAirports.length > 0" class="suggestions">
        <li
          *ngFor="let airport of filteredArrAirports"
          (click)="selectAirport(airport, 'arrival')"
          class="suggestion-item"
        >
          <strong class="iata-code">{{ airport.iata }}</strong> - {{ airport.name }} <br />
          <span class="airport-info">{{ airport.city }}, {{ airport.country }}</span>
        </li>
      </ul>
    </div>

    <!-- Date Picker Input Group -->
    <div class="input-group" appOutsideClick (outsideClick)="closeDatePicker()">
      <input type="date" [(ngModel)]="date" name="date" required />
    </div>

    <!-- Search Button -->
    <button type="submit" class="search-btn">Search Flights</button>
  </form>
</div>
